body {
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
}

.header-text-1 {
    margin: 0;
    font-size: 28px;
}

.header-text-2 {
    margin: 5px 0 0 0;
    font-size: 16px;
    color: #353535;
}

.body {
    padding: 20px;
    max-width: 600px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.div-input {
    margin-bottom: 20px;
}

.input-text {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
}

.label-name {
    display: inline-block;
    width: 49%;
    margin-bottom: 5px;
    font-size: 14px;
    color: #444;
}

.input-first,
.input-last {
    width: 49%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

#otherOrg{
    display: none;
}





.inputing{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #bbb;
    margin-bottom: 10px;
    margin-right: 100%;

}

.inputs {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

.required-note {
    color: red;
    font-size: 13px;
    margin-top: 10px;
}

.div-reset {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.record-clear {
    background: none;
    border: none;
}

.record-clear-image {
    width: 48px;
    height: 48px;
    background-color: #3c8dbc;
    border-radius: 100%;
    transition: background-color 0.5s ease;
}

.record-clear-image:hover{
    background-color: #12ecfc;
    transition: background-color 0.5s ease;
}

.record-submit {
    background-color: #3c8dbc;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    transition: background-color 1s ease;
}


.record-submit:hover {
    background-color: #12ecfc;
    transition: background-color 1s ease;
}

.footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #888;
}

.images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.displaying img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
}
