<!DOCTYPE html>
<html>
    <head>
        <title>It's My Estuary Day!</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.png')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="header">
            <h1 class="header-text-1">Nothing yet</h1>
            <h2 class="header-text-2">Host: ...</h2>

        </div>
        <div class="body">
            <form action="/record">
                <div class="div-input">
                <label class="input-text" for="name">Name</label><br>
                <label class="label-name">First Name</label>
                <label class="label-name">Last Name</label><br>
                <input type="text" class="inputs" name="first-name">
                <input type=""text" class="input-last inputs" name="last-name">
                <label></label>
                <input type="number" class="inputs" name="osis"><br>
                <input type="email" class="inputs" name="email"><br>
                <input type="text" class="inputs" name="organization"><br>
                </div>
                <div class="div-reset">
                    <button type="reset" class="record-clear"><img class="record-clear-image" src="{{url_for('static', filename="images/restart.png")}}"></button>
                    <button type="submit" class="record-submit">Record</button>
                </div>
            </form>
        </div>
        <div class="footer">
            <h1 class="footer-text"></h1>
            <div class="images">
                <div class="displaying"><img src="" alt=""></div>
                <div class="displaying"><img src="" alt=""></div>
                <div class="displaying"><img src="" alt=""></div>
            </div>
        </div>
        
    </body>
</html>