<!DOCTYPE html>
<html>
<head>
    <title>Confirmation page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='images/favicon.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='style/admin.css')}}">
    <link rel="stylesheet" href="../static/style/admin.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid confirm">
        <div class="confirm-title">
            <h1 class="title-text">Thank you for signing up!</h1>
            <h2 class="title-content">You have been confirmed for this event</h2>
        </div>
        <div class="spliter">

        </div>

        <div class="id">
            <div class="id-header container-fluid" id="id-header">
                <h3 class="header-text left">It's my Estuary Day!</h3>
                <h3 class="header-text right">{{_person["name"]}}</h3>
            </div>

            <div class="id-content">
                <div class="display-image">
                    <img src="../static/images/guest.png" alt="" class="id-image">
                    <p>Roblox Guest</p>
                </div>
                <div class="content-more">
                    {% if _person["osis"] %}
<div class="content-content">
    <h3 class="content-title">Osis:</h3>
    <h3 class="content-text">{{_person["osis"]}}</h3>
</div>
{% endif %}
                    <div class="content-content">
                        <h3 class="content-title">Email:</h3>
                        <h3 class="content-text">{{_person["email"]}}</h3>
                    </div>
                    {% if _person["organization"] %}
<div class="content-content">
    <h3 class="content-title">Organization:</h3>
    <h3 class="content-text">{{_person["organization"]}}</h3>
</div>
{% endif %}
                </div>
            </div>
            <div class="id-footer" id="id-footer">
                <h3 class="footer-text">Thank you for your service and participation in this event!</h3>
                {% if _person["recorded"] %}
                <h3 class="footer-text">Your information is recorded already, if there is a error then tell Alex to remove it.</h3>
                {% endif %}
            </div>
            <script>
                const header = document.getElementById("id-header");
                const footer = document.getElementById("id-footer");
                
                header.style.backgroundColor = "{{_person['color']}}"
                footer.style.backgroundColor = "{{_person['color']}}"
            </script>

        </div>
    <a href="{{url_for('index')}}" class="return"><button class="return-btn">Close</button></a>
</body>
</html>